body {
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
    font-family: Arial;
}
.title {
    font-size: 30px;
    font-weight: bold;
}
.move-icon{
    height: 50px;
    width: 50px;
    border-radius: 60px;
    border-color: aqua;
    border-width: 5px;
    cursor: pointer;
}
.reset-score-button,
.auto-play-button{
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
    border-width: 2px;
    border-radius: 5px;
    cursor: pointer;
}